@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  //nextjs
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  //mappie
  --white: #FFFFFF;
  --blue: #5E7BC7;
  --red: #C75E5E;
  --gray: #373737;
  --gray-light: #808080;
  --gray-lighter: #C4C4C4;
}

//nextjs
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  // height: 100vh;
  // overflow-y: hidden;

  color: var(--gray);
  background: black; //debug
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}